/* Reset some basic elements */
body, h1, h2, h3, p, ul, li, a, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0 20px;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header p {
    margin-top: 10px;
    font-size: 1.2em;
}

/* Section styles */
section {
    padding: 20px 0;
    margin: 20px 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section#about img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

section#skills ul {
    list-style: none;
    text-align: center;
}

section#skills ul li {
    display: inline-block;
    background: #e2e2e2;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project img {
    width: 50%;
    height: 600px;
    border-radius: 5px;
}

section#resume {
    text-align: center;
}

section#resume a {
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

section#contact {
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
